<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- <div id="app">
    <button v-on:click="show = !show">
        Toggle Panel
    </button>

    <h1 v-if="show">{{ value_test }}</h1>
</div> -->

<div id="app">

    <h1 :class="{textRed:checkedColor}">{{ message }}</h1>
    <input v-model="message" placeholder="edit me">


    <h2 :class="{textRed:checkedColor}">{{ value_test }}</h2>

    <input v-model.lazy="value_test" placeholder="edit me">
    <button v-on:click="change">add</button>

    <input type="checkbox" v-on:click="checkedColor = !checkedColor">
    <label>red</label>

    <input type="checkbox" v-on:click="show = !show">
    <label>Affiche image</label>
<br>

    <img src="https://i.skyrock.net/9981/12559981/pics/306363736.jpg" v-if="show" width="300px">

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>